/*common*/

*{
  margin: 0;
  padding: 0;
  font-family: "Hiragino Sans GB W3", "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei", "Apple LiGothic Medium", "SimHei", "ST Heiti", "WenQuanYi Zen Hei Sharp", "Sans";
}


a,a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #070809;
}

ul, ol, li {
  list-style-type: none;
}

input, input:invalid , textarea, textarea:invalid  {
  border: 2px solid #b2e5d5;
  border-width: 0 0 2px 0;
  background: none;
  padding: 7px 15px;
}

input:hover, textarea:hover, input:focus, textarea:focus, textarea:focus, input[type="submit"]:hover, input[type="reset"]:hover {
  background: rgba(211, 233, 211, 0.2);
}

input:active, textarea:active, input[type="submit"], input[type="reset"] {
  background: rgba(211, 233, 211, 0.4);
}

input[type="submit"]:active, input[type="reset"]:active {
  background: rgba(211, 233, 211, 0.9);
}

*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

.index_html,.index{
  width: 100%;
  height: 100%;
  background-color: #CBC5BA;
}

.index{
  padding-top: 15%;
  box-sizing: border-box;
}

.index_title{
  text-align: center;
}

.index_main{
  width: 700px;
  height: 400px;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
}

.index_action{
  position: relative;
  width: 1400px;
  height: 330px;
}

.index_login,.index_reg{
  width: 700px;
  height: 330px;
  float: left;
}

.index_button{
  width: 700px;
  height: 70px;
  background-color: brown;
}

.index_button a{
  display: inline-block;
  width: 350px;
  height: 100%;
  float: left;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  font-weight: normal;
  color: white;
}

.index_button a:first-child{
  background-color: #817E78;
}

.login_form p,.register_form p{
  padding: 10px 20px;
  text-align: center;
}

.center_header{
  position: fixed;
  top: 0;
  z-index: 2;
  width:100%;
  height: 60px;
  background-color:#593B3B;
  font-size: 18px;
}

.center_header h1{
  position: absolute;
  display: inline-block;
  left: 10px;
  color: #ffffff;
  line-height: 60px;
}

.center_header a{
  position: absolute;
  color: #ffffff;
  line-height: 60px;
  right: 10px;
}

.admin_main{
  width: 80%;
  margin: 60px auto 0 auto;
  overflow: hidden;
}

.admin_nav{
  height: 50px;
  position: fixed;
  z-index: 2;
  width: 80%;
  background-color: #8F5F5F;
  color: white;
}

.admin_nav a{
  width: 25%;
  display: inline-block;
  float: left;
  line-height: 50px;
  border-right: solid 1px #000;
  box-sizing: border-box;
  text-align: center;
}

.admin_nav a:last-child{
  border-right: none;
}

.admin_nav_on{
  background-color: chocolate;
  color: white;
}

.admin_bar{
  position: relative;
  top: 50px;
}

.admin_bar ul{
  width: 200%;
  position: relative;
  padding-bottom: 50px;
}

.admin_bar ul li{
  width: 50%;
  float: left;
}

.handle_order_li table,.all_order_li table{
  width: 100%;
}

.handle_order_li th,.all_order_li th{
  text-align: center;
}

.num_th{
  width: 10%;
}

.user_th{
  width: 20%;
}

.goods_th{
  width: 50%;
}

.state_th{
  width: 20%;
}

.goods_p{
  display: inline-block;
  margin: 0 10px;
  float: left;
  font-weight: normal;
}

.handle_a{
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff;
  background-color: red;
  border:0;
}

.center_nav{
  position: fixed;
  z-index: 2;
  background-color: gray;
  height: 50px;
  width: 80%;
}

.center_nav a{
  width: 50%;
  display: block;
  text-align: center;
  color: white;
  float: left;
  line-height: 50px;
}

.user_order{
  width: 100%;
  padding-top: 50px;
}

.add_main{
  width: 80%;
  margin: 0 auto;
}

.button_div{
  position: fixed;
  width: 80%;
  height: 50px;
  bottom: 0;
  background-color: burlywood;
  z-index: 2;
}

.ok{
  display: block;
  border: 0;
  width: 50%;
  float: left;
  line-height: 50px;
  background-color: chocolate;
  color: white;
  padding: 0;
  font-size: 18px;
}

.back{
  display: block;
  width: 50%;
  float: left;
  line-height: 50px;
  text-align: center;
}

.add_order_table{
  width:100%;
  margin:60px 0;
  border-collapse: collapse;
}

.add_order_table tr{
  border-bottom:1px solid #000;
}

.add_order_table th,.add_order_table td{
  padding: 10px 0;
  width: 33%;
}

.add_order_table h1,.add_order_table h3{
  display: inline-block;
  font-weight: normal;
}

.add_order_table h1{
  font-size: 25px;
}

.add_order_table h3{
  font-size: 15px;
}

.input_div{
  display: inline-block;
  float: right;
}

.input_div input{
  border-width: 2px;
  width: 100px;
}

.add_goods_table{
  width: 100%;
  margin: 60px 0;
  border-collapse: collapse;
}

.add_goods_table tr,.add_goods_table th{
  border-bottom: 1px solid #000;
}

.add_goods_table th, .add_goods_table td{
  padding: 10px 0;
  width: 33%;
}

.add_goods_table h1, .add_goods_table h3 {
  display: inline-block;
  font-weight: normal;
}

.add_goods_table h1{
  font-size: 25px;
}

.add_goods_form{
  margin-top: 80px;
}

.add_goods_form h1{
  font-size: 25px;
  font-weight: normal;
}